### Today's Contents

-   Introduction
-   Data types
-   Loops
-   Conditional statements
-   Functions
-   NumPy
-   Plotting using Matplotlib
-   Pandas

### Introduction

*   Developed by Guido van Rossum
*   first released in 1991
*   simple to read (close to plain English)
*   simple to code (intuitive)
*   interpreted (no compilation)
*   high-level (no machine code)
*   general purpose language (can be used for anything)
*   open source ([361,832 fellow developers and contributors in the community supporting 266,966 packages of Python](https://analyticsindiamag.com/top-10-python-packages-with-most-contributors-on-github/).)
* source code available at: https://github.com/python/cpython

**Sources**

Many sources are available online, libraries documentations, online courses, books, websites offering free tutorials. 

The following are links for books that are freely available online:
1. [Python Data Science Handbook, Jake VanderPlas, O'Reilly, First Edition 2016](https://tanthiamhuat.files.wordpress.com/2018/04/pythondatasciencehandbook.pdf)
2. [Fluent Python, Luciano Ramalho, O'Reilly, First Edition 2015](http://index-of.es/Varios-2/Fluent%20Python%20Clear%20Concise%20and%20Effective%20Programming.pdf)

**Installation**

Easiest way to start working on Python is to downlaod the [Anaconda IDE](https://www.anaconda.com/products/individual).

*   Spyder
*   JupyterLab / Jupyter Notebook

You are looking at Jupyter notebook right now.

**Print > Hello World**

In [ ]:
print('Hello World!!')

**Python is case sensitive.**

In [ ]:
Print('Hello World')

In [ ]:
kiko = 6

In [ ]:
 kiko # Kiko is not defined

**Variables names**

In [ ]:
kiko@ = 6   # special characters in variables names

In [ ]:
and = 5+6    # invalid variable name - or, return, import, ...

### Data types

*   Integer
*   Float
*   String
*   Boolean
*   List

**Boolean**

In [ ]:
print(3>1)

In [ ]:
print(1 == 3)

In [ ]:
z = True

In [ ]:
type(z)

In [ ]:
if z == False:
  print("z is False")
else: 
  print("z is True")

In [ ]:
g = 3>2

In [ ]:
g

In [ ]:
type(g)

**Integers**

In [ ]:
x = 3

In [ ]:
x**2

In [ ]:
type(x)

**Float**

In [ ]:
xf = 3.3

In [ ]:
type(xf)

**String**

In [ ]:
myName = "Mohamed Labib"

In [ ]:
type(myName)

**Printing different variables**

In [ ]:
print('x is equal to {}' .format(x,2))    # repeat with float, show rounding

In [ ]:
x = 89.9562
x

**Converting variables types**

In [ ]:
n = str(x)

In [ ]:
n

In [ ]:
print('x is equal to', n)

In [ ]:
y = float(n)

In [ ]:
type(y)

In [ ]:
type(n)    # n remains as string

In [ ]:
x = int(y)

In [ ]:
type(x)

In [ ]:
x   # no rounding

**List**

In [ ]:
a = [1.13, 'hello', 56, 'r']    # a list can contain values of different data types

In [ ]:
a[0:3]    # indexing and slicing

Different functions and applications can be used using lists. List is one of Python's four collection data types (others are [Tuple](https://www.w3schools.com/python/python_tuples.asp), [Set](https://www.w3schools.com/python/python_sets.asp) and [Dictionary](https://www.w3schools.com/python/python_dictionaries.asp)). We recommend you check the provided links if you are interested to learn about these data types.

**Arithmetic operations**

In [ ]:
o = 5*5    # for multiplication use *
o

In [ ]:
o = 3/4   # for division: /
o

In [ ]:
o = 3%4    # for remainder use %
o

In [ ]:
o**3    # for power use **

Special mathematical functions (```sin```, ```cos```, ```sqrt```, ..) can be used from the ```math``` library.


**```for``` and ```while``` loops**

In [ ]:
i = 0
while i <= 5:
    p = i + 2    # do something
    print(p)
    i += 1       # increment i by 1 (Avoid infinte loops!)

In [ ]:
for i in myName: 
    print(i)

In [ ]:
for i in 'Ahmad657':    # applicable on the string directly
    print(i)

In [ ]:
myName[0:4]    # indexing and slicing

In [ ]:
for i in range(3,9):    # from first to second argument excluding the second argument
    print(i)

In [ ]:
for i in range(3):    # default start from 0
    for j in range(4):
        print(j)

**Exercise 1**

Write a code to produce the following result.

1 x 0 = 0
<br>
1 x 1 = 1
<br>
1 x 2 = 2
<br>
1 x 3 = 3
<br>
1 x 4 = 4
<br>
2 x 0 = 0
<br>
2 x 1 = 2
<br>
2 x 2 = 4
<br>
2 x 3 = 6
<br>
2 x 4 = 8
<br>
3 x 0 = 0
<br>
3 x 1 = 3
<br>
3 x 2 = 6
<br>
3 x 3 = 9
<br>
3 x 4 = 12
<br>
4 x 0 = 0
<br>
4 x 1 = 4
<br>
4 x 2 = 8
<br>
4 x 3 = 12
<br>
4 x 4 = 16
<br>
5 x 0 = 0
<br>
5 x 1 = 5
<br>
5 x 2 = 10
<br>
5 x 3 = 15
<br>
5 x 4 = 20

**Input from user**

In [ ]:
mynum = input('Enter a number: ')

In [ ]:
mynum

In [ ]:
type(mynum)   # conversion needed depending on usage in code

### Conditional statements: ```if```, ```elif``` and ```else```

In [ ]:
if 'M' in "Mango":
    print('M in mango')
else:
    print('no Ps')

In [ ]:
x = 13
y = 15

In [ ]:
if x > y:
    print('x > y')
elif x == y:
    print('x = y')
else:
    print('x < y')

In [ ]:
if x >= y:    
    print('x >= y')
elif x <= y:     # incorrect - if equal then will be executed at first line
    print('x <= y')
else:
    print('Error')

In [ ]:
z = 5

In [ ]:
if (x > y or x < y) and (x > z):      # remove ```and (x > z) for or operation alone
    print("x and y are not equal and x is larger than z")
else:
    print("x and y are equal")

**Exercise 2**

Build a calculator that takes 2 integers from the user and a mathematical sign (+, -, *, /), then does the operation. Print an error message for division by zero.

### Functions

In [ ]:
x = 5
y = 6
z = x + y
z

In [ ]:
def addsum(x, y): # can add more input arguments
    return x + y   # can add more returns

In [ ]:
z, d = addsum(5,6)    # assign the return value to a varibale z, another way: addsum(x=5, y=6)
# print('d= ', d)       # can be printed directly from the function too
print('z = ', z)

**Exercise 3**

Repeat the last calculator exercise using a function that takes as arguments the three inputs. Try by calling the function. No user input.

**Exercise 4**

Write a function that takes two numbers as input, and return the values of the sum, difference, multiplication and division of both numbers. Assign the return values to four different variables when calling the function.

### NumPy

NumPy is a Python library, used for working with numerical arrays.

In [ ]:
import numpy as np

In [ ]:
d1 = np.arange(1,10,1)    # creates a 1-d array with values from 1 to 9 with a step of 1
                          # can be for floats as well, try a less step
d1

In [ ]:
type(d1)

ndarray > n-dimensional array. ```d1``` is a 1-dimensional array.

In [ ]:
len(d1)    # provides the length of the array

In [ ]:
np.shape(d1)    # provides the shape of the array

**Exercise 5**

Create a for loop to print all the values in ```d1```.

In [ ]:
v = np.linspace(1,10,10)   # creates a 1-d array, with a range from 1 to 10, equally spaced values, with length 10
v

In [ ]:
len(v)

In [ ]:
type(v)

In [ ]:
vreshape = np.reshape(v,(2,5))    # creates a 2-d matrix 'vreshape' with same values of v but arranged in 2 rows and 5 columns
vreshape

In [ ]:
vnew = np.array([                 # creates a 2-d matrix with the given values
    [1,2,3],
    [9,-8,7],
    [5,1,6]
])
vnew

In [ ]:
np.shape(vnew)

**Indexing and slicing**

In [ ]:
vnew[2,2]

**Mathematical functions**

In [ ]:
np.mean(vnew)   # returns vnew's mean value

In [ ]:
np.sum(vnew)    # returns vnew's sum value

In [ ]:
np.max(vnew)    # returns vnew's max value

In [ ]:
np.argmax(vnew)    # returns vnew's index of max value

In [ ]:
xzero = np.zeros([4,3])
# xzero[2,2]=3    # assign values to definite locations
xzero

In [ ]:
xone = np.ones([4,3])
# xone[1,2]=5     
xone

In [ ]:
xzo = xzero + xone    # element-wise operation
xzo

**Note:** Cross and dot products are available through ```numpy.dot()``` and ```numpy.cross()``` functions.

In [ ]:
xzo

In [ ]:
xzo[1:3,1] = 5

In [ ]:
xzo

In [ ]:
len(xzo)    # returns the number of rows or np.shape(xzo)[0]

In [ ]:
np.shape(xzo)[1]    # returns the number of columns

In [ ]:
# create random array:
a = np.random.randint(-10,10,(3,4))
print(a)

For more on `numpy.random()` check the available [documentation](https://numpy.org/doc/1.16/reference/routines.random.html).

**Exercise 6**

Calculate the dot product (manually using for loops) of matrices A and B and store them in a matrix `C`. 

\begin{equation*}
A = 
\begin{pmatrix}
1 & 2 \\
4 & 5
\end{pmatrix}
\end{equation*}
       
\begin{equation*}
B = 
\begin{pmatrix}
9 & 8 \\
6 & 5 
\end{pmatrix}
\end{equation*}

**Plotting using Matplotlib**

In [ ]:
xplt = np.linspace(-np.pi,np.pi,30)    # an array values from -pi to pi, length = 30

In [ ]:
yplt = xplt**2
yplt_sc = yplt + np.random.normal(-0.3, 0.3, 30)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# %matplotlib widget

In [ ]:
plt.plot(xplt,yplt_sc,'o', xplt, yplt, '-')
plt.xlabel('x')
plt.ylabel('y')
plt.title('Relation of x and y')
plt.legend(['Data points', 'Model'], loc='best')
plt.show()

**Another way - Object oriented**

In [ ]:
fig, ax = plt.subplots()
ax.plot(xplt, yplt_sc,'o', xplt, yplt, '-')
ax.set(xlabel='xplt', ylabel='yplt', title = 'Relation of x and y')
ax.legend(['Data points', 'Model'], loc='best')
plt.show()

**Subplots**

In [ ]:
# display 4 plots in one figure
fig, axs = plt.subplots(nrows=2, ncols=2, figsize=(16,10))          # specifies the number of rows and columns, and figure size
axs[0,0].plot(xplt, xplt**2)                                        # specifies to plot in row 0 column 0
axs[0,0].set(xlabel='x', ylabel='$f(x)$', title = '$f(x) = x^2$')
axs[0,1].plot(xplt, np.sin(xplt))
axs[0,1].set(xlabel='x', ylabel='$f(x)$', title = '$f(x) = sin(x)$')
axs[1,0].plot(xplt, np.cos(xplt))
axs[1,0].set(xlabel='x', ylabel='$f(x)$', title = '$f(x) = cos(x)$')
axs[1,1].plot(xplt, np.tan(xplt))
axs[1,1].set(xlabel='x', ylabel='$f(x)$', title = '$f(x) = tan(x)$')
plt.show()

**Note:** check different types of plots available in `matplotlib` library's [Gallery page](https://matplotlib.org/stable/gallery/index.html).

### Pandas

Pandas is essential for dealing with data. It is built on top of NumPy. Available data structures are the Series and DataFrame. A series is a 1 dimensional array of data (can hold different data types) with an index.

In [ ]:
import pandas as pd

**Series**

In [ ]:
a = pd.Series([0.3,11.1,4.3,'43.2',5,20.2])     #can hold different data types in one series
a

In [ ]:
type(a)   # check type of a

In [ ]:
type(a[3])    # check type of any value in a using its index

In [ ]:
a[1:3]    # slicing

**DataFrame**

A DataFrame is a multi-dimensional array of different data types.

In [ ]:
df = pd.DataFrame(np.random.randint(-10,10,[4,4]), columns = ['A', 'B', 'C', 'D'])

In [ ]:
df

In [ ]:
df['E'] = np.random.randint(-10,10,[4,1])   # add column E

In [ ]:
df

In [ ]:
# add new row
df1 = pd.DataFrame(np.random.randint(-10,10,[1,5]), columns = ['A', 'B', 'C', 'D', 'E'])

In [ ]:
df = df.append(df1, ignore_index = True)    # adds a new row to df

In [ ]:
df

**Indexing and Slicing**

In [ ]:
df[['A','C']]    # call by column names

In [ ]:
df.iloc[3,2]    # value in row 3 and column 4

In [ ]:
df.iloc[:,3:5]    # = df[['D','E']]  all rows columns 3 and 4

In [ ]:
df.iloc[1:3,3:5] = [[4, 'nan'],['NaN', 89]]    # change values in df
df

In [ ]:
df['names'] = ['row0', 'row1', 'row2', 'row3', 'row4']    # add column 'names'

In [ ]:
df

In [ ]:
df = df.set_index('names')    # set column 'names' as df's index
df

In [ ]:
df.loc["row2"]    # df.loc[] not df.iloc[], for usage with labels, can add column label too

In [ ]:
df.to_csv("test2")    # create a csv file with df values in the same notebook directory

In [ ]:
df = pd.read_csv("test2", index_col='names')     #index_col to specify index, check function's documentation for other useful input arguments

In [ ]:
df

**Exercise 7**

Import "Grades.csv" assign column ID as the index of your DataFrame. 
1. Assign the data for student with ID 6104062 to a variable `student`.
2. Print the data type of `student`.
3. Print the name of `student`.
4. Change the 'Mathematics' and 'English' grades to 38 and 39 for student 6104065, and 45 and 43 for student 6104067.
5. For all students:
    -  Print all the data excluding the 'Name' column.
    -  Add column `Total [%]`. The values in `Total [%]` are equal to the overall grade percentage (assuming each subject is 50 marks).

**Arithmetic Operations**

In [ ]:
maxGrade = grades['Total [%]'].max() # same for mean, min, count, sum, std, ..
maxGrade

**Conditional statements**

In [ ]:
grades.loc[grades['Total [%]'] <= 75]   # also can be done specifying a row and a column > add ", 'Class'"

In [ ]:
grades[grades['Total [%]'] >= 85]

In [ ]:
grades[(grades['Total [%]'] < 85) & (grades['Total [%]'] > 75)]    # for or use |

**Exercise 8**

- Print students who scored less than 30 marks in any of the subjects.
- Print the highest score for each subject.
- Print the students with the highest subject grade.

**Grouping**

In [ ]:
grouped = grades.groupby('Class')    # create groups from the dataframe grades, based on the 'Class' column

In [ ]:
grouped

In [ ]:
grouped["Total [%]"].max()

In [ ]:
ClassA = grouped.get_group("A")    # assign Class A students to variable (DataFrame) Class A
ClassA

In [ ]:
type(ClassA)    # Class A is now a separate DataFrame

**Exercise 9**

Create a bar chart for each class in one figure. The chart shall contain grades of the three subjects and total percentage for each student. Search Google, different plotting methods are acceptable.

In [ ]:
fig, axes = plt.subplots(figsize=(18,8),nrows=1, ncols=2)
ClassA.plot(ax=axes[0], kind='bar', rot=0, title = 'Class A')
ClassB.plot(ax=axes[1], kind='bar', rot=0, title = 'Class B')
axes[0].legend(loc='best')
axes[1].legend(loc='best')